@{
    ViewData["Title"] = "Home";
}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    #wrap {
        font-family: 'Slabo 27px', serif;
        background: #000;
    }

    .layer1 {
        color: white;
    }

    .bg {
        position: relative;
        z-index: 1;
    }

        .bg img {
            display: block;
            width: 100%;
            height: auto;
        }

        .bg h1 {
            position: absolute;
            top: 33%;
            left: 0;
            width: 100%;
            font-size: 100px;
            text-align: center;
        }

    .cont {
        position: relative;
        z-index: 2;
        background: rgba(0,0,0,0.8);
        font-size: 27px;
        color: #fff;
        padding: 5%;
    }

        .cont * {
            max-width: 900px;
            margin: 5% auto;
        }
</style>

<div id="wrap">
    <div class="bg">
        <img class="layer2" src="https://zendenwebdesign.com/wp-content/uploads/2017/10/Top-7-Programing-Languages-for-Web-Development.jpg" alt="" />
        <h1 class="layer1">Home</h1>
    </div>
    <div class="cont">
        <h1>Group Project</h1>
        <p>This project is used to act as a course catalog. It also requires uses to login in order to use this application.</p>
        <p>The project is made up of two controllers which are: Courses and Catalog. The Courses controller is used to allow users to login, sign up for the catalog, and display a Home page. It contains three views: Login, Signup, and Index. The Catalog controller is used to display our entire course catalog, view details about a course, add to or edit courses in the catalog, and delete a course in the catalog. It contains five views: Index, Details, Create, Edit, and Delete.</p>
        <p>The project also uses two models: Accounts and Courses. The Accounts model is used to contain the account information of each user and specifies if a user is an admin. If a user is an admin, then they will be able to manipulate the course catalog. The Courses model contains information about each course which include: the course ID, name of the course, name of the instructor, etc.</p>
    </div>
</div>

